<body>
  <a href='/'>Home</a>
  <a href='/about'>About</a>
  <a href='/hobbies'>Hobbies</a>
  <h1>Who Am I?</h1>
  <p>
    My name is Stefan and I build my first Astro project using <a
      href='https://wwww.ceos3c.com'>ceos3c.com</a
    >!
  </p>
</body>

