<body>
  <a href='/'>Home</a>
  <a href='/about'>About</a>
  <a href='/hobbies'>Hobbies</a>
  <h1>My Hobbies</h1>
  <ul>
    <li>Playing Video Games</li>
    <li>Watching Movies</li>
    <li>Playing Sports</li>
    <li>Reading</li>
    <li>Listening to Music</li>
  </ul>
</body>
