---
const pageTitle = "My Hobbies"

const hobbies = [
  "Playing Video Games",
  "Watching Movies",
  "Playing Sports",
  "Reading",
  "Listening to Music",
]
---

<body>
  <a href='/'>Home</a>
  <a href='/about'>About</a>
  <a href='/hobbies'>Hobbies</a>
  <h1>{pageTitle}</h1>
  <ul>
    {hobbies.map((hobby) => <li>{hobby}</li>)}
  </ul>
</body>
